/* .VendorOrderScetion{
    padding: 25px;
  
    background: #f0f2f5;
    border-radius: 10px;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.08);
   
    background-color: #ffffff;
}
tbody{
    background: white
} */